html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color);
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}
:root {
    --body-bg-color: #fffded;
    --body-bg-color-2:#EDE6B8;
    --contrast-green-1:#82BCAE;
    --contras-green-2:#70a79a;
    --contrast-pink-1:#F26665;
    --contrast-pink-2:#da9090;
    --complement-bg-1:#F3B16730;
}

h1{
    width: 70%;
    margin-top: 0;
    margin-left: 1em;
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: .5em;
    padding-right: .5em;
    text-align: left;
    line-height: 1.3em;
    border-radius: 0 0 15px 0;
    background-color: var(--contrast-green-1);
    color: #fff;
    font-size: 2.6em;
}

h2{
    width: 25%;
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-radius: 0 15px 0 0;
    padding-left: .2em;
    padding-bottom: .1em;
    background-color: var(--complement-bg-1);
    border-color: #3b7c6d50;
    color:#275c4e;
    font-size: 2.1em;
}


@media screen and (min-width: 769px) and (max-width: 8000px) {
    /* Estilos para el menú lateral */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    box-sizing: border-box;
    background-color: var(--contrast-green-1);
    border: solid 1px;
    border-color: var(--contras-green-2);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    box-shadow: -1px 3px 37px -3px rgba(0,0,0,0.31);
-webkit-box-shadow: -1px 3px 37px -3px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 3px 37px -3px rgba(0,0,0,0.31);
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar ul {
    list-style: none;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar a{
    text-decoration: none;
    color: #fff;
}

.sidebar li:hover{
    border-left:solid 3px;
    border-color: var(--contrast-pink-1);
    text-decoration: none;
    color: #fff;
    padding-left: 17px;
}

.sidebar a li{
    margin-top: 1px;
    padding: 8px 20px;
    height: 2em;
    top: 50%;
    box-sizing: border-box;
}

  /* Estilos para el botón flotante */
.floating-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--contrast-pink-2);
    color: var(--body-bg-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
}

.floating-button:hover {
    background-color: var(--contrast-pink-1);
}

.main-container{
    width: 60%;
    margin: auto;
    line-height: 1.8em;
}

  /* Estilos para el contenido de las secciones */
section {
    padding: 40px;
    margin-top: 20px;
}

.btn-home{
    position: relative;
    background-color: #669e91;
    color: #fffceb;
    padding: 20px;
    cursor: pointer;
}
.btn-home:hover{
    background-color: #3b7c6d;
}

/*Estilos paa el acordeón del menú lateral*/
.accordion{
    position: relative;
    width: 100%;
    left: 0;
    transition: max-height 0.2s ease-out;
}

.accordion-header {
    position: relative;
    background-color: #669e91;
    color: #fffceb;
    padding: 20px;
    cursor: pointer;
}

.accordion-header:hover{
    background-color: #3b7c6d;
}

.accordion-content {
    display: none;
}

.accordion-content.show {
    display: block;
    padding: 20px;
    }
}

  /* Estilos responsive */
@media (min-height: 680px), screen and (orientation: portrait){
    .sidebar {
    position: static;
    height: auto;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    transform: none;
}

    .sidebar.closed {
    transform: translateX(-110%);
}

    .sidebar ul {
    text-align: center;
}

    .floating-button {
    bottom: 80px;
    right: 20px;
}

    section {
    padding: 20px;
    }
}