html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EDE6B8;
}

  /* Estilos para el menú lateral */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    box-sizing: border-box;
    background-color: #82BCAE;
    border: solid 1px;
    border-color: #70a79a;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    box-shadow: -1px 3px 37px -3px rgba(0,0,0,0.31);
-webkit-box-shadow: -1px 3px 37px -3px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 3px 37px -3px rgba(0,0,0,0.31);
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar ul {
    list-style: none;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar a{
    text-decoration: none;
    color: #fff;
}

.sidebar li:hover{
    border-left:solid 3px;
    border-color: #F26665;
    text-decoration: none;
    color: #fff;
    padding-left: 17px;
}

.sidebar a li{
    margin-top: 1px;
    padding: 8px 20px;
    height: 2em;
    top: 50%;
    box-sizing: border-box;
}

  /* Estilos para el botón flotante */
.floating-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
}

.floating-button:hover {
    background-color: #ccc;
}

.main-title{
    text-align: center;
}

.main-container{
    width: 60%;
    margin: auto;
}

  /* Estilos para el contenido de las secciones */
section {
    padding: 40px;
    margin-top: 20px;
}

/*Estilos paa el acordeón del menú lateral*/
.accordion{
    position: absolute;
    width: 100%;
    left: 0;
}

.accordion-header {
    position: relative;
    background-color: #669e91;
    color: #fffceb;
    padding: 20px;
    cursor: pointer;
}

.accordion-header:hover{
    background-color: #3b7c6d;
}

.accordion-content {
    display: none;
}

.accordion-content.show {
    display: block;
    padding: 20px;
}

  /* Estilos responsive */
@media screen and (max-width: 768px) {
.sidebar {
    width: 100%;
    height: auto;
    transform: translateX(-100%);
    background-color: rgba(241, 241, 241, 0.9);
    overflow-y: auto;
    padding: 20px 0;
}

    .sidebar.closed {
    transform: translateX(-110%);
}

    .sidebar ul {
    text-align: center;
}

    .floating-button {
    bottom: 80px;
    right: 20px;
}

    section {
    padding: 20px;
    }
}